
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;

    background: url('background.jpeg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
  font-family: 'Arial', sans-serif;
}

header {
    background-color: #FFB4C2;
    color: #fff;
    padding: 1em 0;
}
.hea{
    display: flex;
    justify-content: center;
    color:#FFEFEF;
    padding-top: 10px;
    padding-bottom: 13px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #667BC6;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h2 {
    color: #F7418F;
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
    color:#F7418F;
    text-shadow: #F7418F;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF76CE;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #2ec2fd;
}

footer {
    background-color: #FFB4C2;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: 14px;
    margin: 5px 0;
}

